
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>Welcome to Login_using_auth</p>

<a asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
<a asp-area="" asp-controller="Auth" asp-action="Registration">Registration</a>


